@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <h1>Profile</h1>
    <form action="/Game/Profile" method="post">
        <h2>Delete Account</h2>
        <button class="btn" type="submit">Submit</button>
    </form>
</div>
