@{
    ViewData["Title"] = "Profile";
}

<div>
    <h1>Profile</h1>
    <form action="/Game/Profile" method="post">
        <h2>Delete Account</h2>
        <input type="submit" name="button" value="Submit" />
    </form>
</div>
