@{
    ViewData["Title"] = "Questionnaire";
}

<div class="text-center">
    <h1>Questionnaire</h1>
    <form action="/Game/Questionnaire" method="post">
        <h2>Personal Questions</h2>
        <input type="date" name="birthday" placeholder="Date of birth..." /><br />
        <select name="gender">
            <option value="" selected disabled hidden>Gender...</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
        <h2>Security Questions</h2>
        <input type="text" name="sec0" placeholder="What is the name of the first school you attended..." /><br />
        <input type="text" name="sec1" placeholder="What is the name of the city where you were born..." /><br />
        <input type="text" name="sec2" placeholder="What is first name of your oldest cousin..." /><br />
        <input type="submit" value="Submit" />
        <p>@ViewData["error"]</p>
    </form>
</div>
