@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <h1>Register</h1>
    <form action="/Game/Register" method="post">
        <div class="form-group">
            <input class="input-field" type="text" name="name" placeholder="Username..." />
        </div>
        <div class="form-group">
            <input class="input-field" type="password" name="password" placeholder="Password..." />
        </div>
        <div class="form-group">
            <input class="input-field" type="password" name="password_control" placeholder="Password again..." />
        </div>
        <button class="btn" type="submit">Submit</button>
        <p class="error-message">@ViewData["error"]</p>
    </form>
</div>
