@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <h1>Register</h1>
    <form action="/Game/Register" method="post">
        <input type="text" name="jmeno" placeholder="Username..." /><br />
        <input type="password" name="heslo" placeholder="Password..." /><br />
        <input type="password" name="heslo_kontrola" placeholder="Password again..." /><br />
        <input type="submit" value="Register" />
        <p class="chyba">@ViewData["chyba"]</p>
    </form>
</div>
